html,
body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    background-color: #e5e5e5;
    color: white;
}

.layout {
    display: grid;
    grid-template-rows: 60px 40px 1fr 25px;
    grid-template-columns: 1fr 4fr;
    height: 100vh;
}

.header {
    background-color: #000000;

    grid-area: 1 / 1 / 2 / 3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: 20px;
}

button {
    background-color: #fca311;
}

#newTaskBtn {
    height: 40px;
    width: 100px;
    font-size: 15px;
}

.sidebar {
    background-color: #14213d;
    grid-area: 2 / 1 / 5 / 2;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}

.projects {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

#newProjectBtn {
    height: 45px;
    font-size: 15px;
}

li {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

li>div {
    flex: 1 0;
}

.taskHeader {
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    align-items: center;
    padding: 10px;
    color: black;
    font-size: 18px;
}

.tasks {
    grid-area: 3 / 2 / 4 / 3;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}

.taskCard {
    background-color: white;
    color: black;
    border-radius: 5px;
}

.footer {
    grid-area: 4 / 2 / 5 / 3;
    text-align: center;
    align-content: center;
    color: black;
    font-size: 14px;
}